name:  Linting

on:
  pull_request:
  push:
    branches: [main, develop]

jobs:
  Linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
      - name: Configure poetry
        run: |
          python -m poetry config virtualenvs.in-project true
      - name: Cache the virtualenv
        uses: actions/cache@v3
        with:
          path: ./.venv
          key: ${{"{{"}} runner.os {{"}}"}}-venv-${{"{{"}} hashFiles('**/poetry.lock') {{"}}"}}
      - name: Install dependencies
        run: |
          python -m poetry install --with dev
      - name: Install pre-commit
        run: |
          python -m poetry run pre-commit install
      - name: Run pre-commit
        run: SKIP=no-commit-to-branch python -m poetry run pre-commit run --all-files
  